*{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
/**Fontes**/

h1{font-size: 36px;}
h2{font-size: 30px;}
p{font-size: 24px;}
/**Tamanho das letras**/

